<footer class="footer">
    <div class="l l-center">
        <!-- begin footer copyright -->
        <div class="footer__copyright">
            <p>©Mobotiq 2017. All rights reserved</p>
        </div>
        <!-- end footer copyright -->

        <!-- begin footer menu -->
        <ul class="footer__menu">
            <li class="footer__item"><a href="#">About</a></li>
            <li class="footer__item"><a href="#">Contest</a></li>
            <li class="footer__item"><a href="#">Token</a></li>
            <li class="footer__item"><a href="#">Media</a></li>
            <li class="footer__item"><a href="#">Faq</a></li>
            <li class="footer__item"><a href="#">Contact us</a></li>
        </ul>
        <!-- end footer menu -->
    </div>
</footer>
