<section class="section subscribe">
    <div class="l">
        <div class="section__title section__title_center subscribe__title">
            <h2>Get Update</h2>
            <p>There’s always something new happening at Mobotiq. Subscribe to our newsletter for the latest updates and features.</p>
        </div>

        <div class="subscribe__form">
            <form action="">
                <!-- begin input -->
                <div class="input js-input">
                    <input type="email" placeholder="Email">
                    {{ mixins.icon('mail') }}
                </div>
                <!-- end input -->

                <!-- begin input -->
                <div class="input js-input">
                    <input type="text" placeholder="Your name">
                    {{ mixins.icon('person') }}
                </div>
                <!-- end input -->

                <!-- begin button -->
                <button class="btn btn_yellow" type="submit">Subscribe</button>
                <!-- end button -->
            </form>
        </div>
    </div>
</section>
