<section class="section token" id="token">
    <div class="l l-center">
        <div class="l-col">
            <div class="section__title">
                <h2>Tokens Rewards System</h2>
            </div>
            <ul class="token__items">
                <li class="token__item">
                    <h3>Electric car</h3>
                    <p>Ipsum sit amet tincidunt pulvinar, dui est placerat mi, non scelerisque ex ante id nisl. Pellentesque euismod magna at leo.</p>
                </li>
                <li class="token__item">
                    <h3>Blockchain</h3>
                    <p>Doloresto  sit amet tincidunt pulvinar, dui est placerat mi, non scelerisque ex ante id nisl. Pellentesque euismod magna.</p>
                </li>
                <li class="token__item">
                    <h3>E-mobility</h3>
                    <p>Makedon sit amet tincidunt pulvinar, dui est placerat mi, non scelerisque ex ante id nisl.</p>
                </li>
            </ul>
            <button class="btn btn_yellow">Read whitepaper</button>
        </div>
        <div class="l-col">
            <div class="token__pic">
                <div class="token__img" style="background-image: url('img/token-rewards.png')"></div>
            </div>
        </div>
    </div>
    <div class="bg" style="background-image: url('img/bg-shape.png')"></div>
</section>
