{% set cars = [
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    },
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237',
        popup: {
          author: 'John Doe',
          desc: 'Hey Guys, <br />Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vel mattis magna. Donec nec arcu ut nisi imperdiet convallis ac eget nulla. Fusce condimentum lorem quis massa interdum tristique. Praesent vel sollicitudin lectus. Donec placerat.',
          images: ['img/img-1.jpg', 'img/img-2.jpg', 'img/img-3.jpg', 'img/img-4.jpg']
        }
    }
]
%}
