{% set blocks = [
    {
        image: 'img-1.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237'
    },
    {
        image: 'img-2.jpg',
        title: 'Lavicon core',
        subtitle: 'Marknumero two',
        likes: '2768'
    },
    {
        image: 'img-3.jpg',
        title: 'Megacarturbo',
        subtitle: 'Electric inteligent',
        likes: '4151'
    },
    {
        image: 'img-4.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237'
    },
    {
        image: 'img-5.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237'
    },
    {
        image: 'img-6.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237'
    },
    {
        image: 'img-7.jpg',
        title: 'Ultracool super',
        subtitle: 'Selfdriving-mobile',
        likes: '1237'
    }
]
%}
