{% set faq = [
    {
        title: 'About Mobotiq',
        list: [
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            }
        ]
    },
    {
        title: 'Our services',
        list: [
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            },
            {
                question: 'Lorem ipsum dolor sit amet consedur abet insadur ichbat.',
                answer: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical.'
            }
        ]
    }
]
%}
