{% set blocks = [
    {
        quote: 'Donec pellentesque, ante nonado fermentum mollis, est torto estodol porttitor nibh, quis gravida miletosa ipsum sed justo lorem ipsum',
        logo: 'coindesk-logo.png'
    },
    {
        quote: 'Ut feugiat est et velit suscipit elementum. Phasellus non elit a lorem suscipit vehicula. Nullam rutrum turpis orcidustol labro',
        logo: 'cointelegraph-logo.png'
    },
    {
        quote: 'Proin condimentum, tellus id pulvinar suscipit, risus purus bibendum eros, vel mollis orci ante eget elit. Aliquam imperdiet',
        logo: 'techcrunch-logo.png'
    }
]
%}
