{% set people = [
    {
        photo: 'photo-1.png',
        name: 'Johnatan Enrilocnsen',
        desc: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical beard tidle.'
    },
    {
        photo: 'photo-2.png',
        name: 'Nathaniel Davidson',
        desc: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical beard tidle.'
    },
    {
        photo: 'photo-3.png',
        name: 'Christian Bryant',
        desc: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical beard tidle.'
    },
    {
        photo: 'photo-4.png',
        name: 'Jayden Powers',
        desc: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical beard tidle.'
    },
    {
        photo: 'photo-5.png',
        name: 'Patrick Harmon',
        desc: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical beard tidle.'
    },
    {
        photo: 'photo-6.png',
        name: 'Henrietta Jordan',
        desc: 'Vinyl retro umami meditation tacos. Yuccie cred subway tile helvetica whatever, butcher seitan readymade etsy ethical beard tidle.'
    }
]
%}
