.icon-arrow {
  width: 1.45em;
  height: 1em;
  fill: #1c8397;
}
.icon-arrowhead {
  width: 1.5em;
  height: 1em;
  fill: #7f8994;
}
.icon-blockchain-sm {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-blockchain {
  width: 1.01em;
  height: 1em;
  fill: #dee2e6;
}
.icon-check {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.icon-desc {
  width: 1.02em;
  height: 1em;
  fill: #2dbcd0;
}
.icon-doc {
  width: 0.83em;
  height: 1em;
  fill: #7f8994;
}
.icon-e-mobility-sm {
  width: 1.67em;
  height: 1em;
  fill: #fff;
}
.icon-e-mobility {
  width: 2.1em;
  height: 1em;
  fill: #187789;
}
.icon-electric-car-sm {
  width: 1.21em;
  height: 1em;
  fill: #fff;
}
.icon-electric-car {
  width: 0.61em;
  height: 1em;
  fill: #1f4c58;
}
.icon-file {
  width: 1.8em;
  height: 1em;
  fill: #1c8397;
}
.icon-github {
  width: 1.04em;
  height: 1em;
  fill: #1c8397;
}
.icon-globe {
  width: 1em;
  height: 1em;
  fill: #7f8994;
}
.icon-heart {
  width: 1.08em;
  height: 1em;
  fill: #1c8397;
}
.icon-images {
  width: 1.32em;
  height: 1em;
  fill: #1c8397;
}
.icon-img {
  width: 1em;
  height: 1em;
  fill: #1c8397;
}
.icon-lock {
  width: 0.76em;
  height: 1em;
  fill: #7f8994;
}
.icon-mail {
  width: 1.21em;
  height: 1em;
  fill: #7f8994;
}
.icon-person {
  width: 1em;
  height: 1em;
  fill: #7f8994;
}
.icon-setting {
  width: 1em;
  height: 1em;
  fill: #7f8994;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #7f8994;
}
.icon-team {
  width: 1.5em;
  height: 1em;
  fill: #1c8397;
}
.icon-testimonial {
  width: 1.27em;
  height: 1em;
  fill: #1c8397;
}
.icon-twitter {
  width: 1.22em;
  height: 1em;
  fill: #1c8397;
}
.icon-upload {
  width: 0.94em;
  height: 1em;
  fill: #1c8397;
}
